.banner-back {
	background-color: #f9f9ff;
	display: flex;
	justify-content: center;
}
.banner {
	display: flex;
	justify-content: space-between;
	width: min(1320px, 80%);
}
.banner-words {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#bigHead {
	font-weight: 800;
	font-size: 80px;
	margin-bottom: 24px;
}
#bigHead-highlight {
	color: #9873ff;
}
#smallHead {
	font-size: 18px;
	color: #757575;
	margin-bottom: 32px;
}
